/*declaring variables for colors to be used*/
$primary-color:green;
$border:#aaa;
$white: #fff;
$secondary-color:yellowgreen;
$background-color: rgb(243, 223, 111);
$input-color:yellow;
$gold:gold;


/**/


*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url("img/pencilonyellow.jpg");
    height: 100vh;
  background-size: cover;
  background-position: center;  
  }

  #login-box{
      position: relative;
      margin: 5% auto;
      height: 400px;
      width: 300px;
      background: $white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      border: $primary-color solid;
      border-radius: 30px;
  }

  .left-box{
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 40px;
      width: 300px;
      height: 400px;
      background-position: center;
  }

  h1{
      margin: 0 0 20px 0;
      font-weight: 300;
      font-size: 22px;
      margin-right: 40px;
      color: $primary-color;
  }
  
  
  input
  {
      display: block;
      box-sizing: border-box;
      margin-bottom: 20px;
      padding: 4px;
      width: 220px;
      height: 32px;
      border: none;
      outline: none;
      border-bottom: 1px solid $border;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 15px;
      transition: 3.1s ease !important;
  }

  input::placeholder{
   color: $secondary-color !important;
  }

    input:hover{
        font-weight: bold !important;
        color: $white;
        background-color: $background-color;
    }

   input ::placeholder:hover{
        color: $input-color !important;
    }

   
 
  .btn{
  background-color: $secondary-color  !important;
    /*the first value in seconds sets how fast the bacolor should change.*/
    /*the secpopnd vpalpue in seconds sets how fast the height should change*/
    transition: background-color 1.1s, border-radius 1.5s !important;
   
  }

.btn:hover{
    background-color: $gold !important; 
    border-radius: 30px;
    color: $white;
}

  